<h1>New Song</h1>

<form action="/create_song">
  <div>
    <label for="name">Name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="artist_id">Artist</label><br />
    <select name="artist_id">
      <option value="1">Kanye West</option>
      <option value="3">Ariana Grande</option>
    </select>

  </div>
  <div>
    <input type="submit">
  </div>
</form>

