<h1>New Song</h1>

<form action="/create_song">
  <div>
    <label for="name">Name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="artist_id">Artist</label><br />
    <select name="artist_id">
      <% @artists.each do |artist| %>
      <option value="<%= artist.id %>"><%= artist.name %></option>
      <% end %>
    </select>

  </div>
  <div>
    <input type="submit">
  </div>
</form>

